.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Style grid items */
.grid-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.grid-item img {
  width: fill;
  height: auto;
  display: block;
}
