{% extends 'base.html' %} {% block title %} {{ list.list_name }} {% endblock %}
{% block contentTitle %} {% endblock%} {% block content %}
<h1>{{ list.list_name }}</h1>

<ul>
  {% for game in list.games %}
  <li>
    <form method="POST" action="/lists/{{ list.id }}/remove_game">
      <input type="hidden" name="game_id" value="{{ game.game_id }}" />
      <div class="clickable" onclick="redirectToPage('{{ game.webpage }}')">
        <img src="{{ game.thumbnail }}" alt="{{ game.name }}" />
        {{ game.name }} - {{ game.metacritic}} - {{ game.rating }}
      </div>
      <button type="submit">remove from List</button>
    </form>
  </li>
  {% endfor %}
</ul>

{% endblock %}
