{% extends 'base.html' %} {% block title %} {{ list.list_name }} {% endblock %}
{% block contentTitle %} {% endblock %} {% block content %}
<h1>{{ list.list_name }}</h1>

{% set game_count = list.count_games() %} {% set likes_count =
list.count_likes() %}

<div class="row">
  {% for game in list.games %}
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <img
        src="{{ game.thumbnail }}"
        class="card-img-top"
        alt="{{ game.name }}"
      />
      <div class="card-body text-center">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">Metacritic score: {{ game.metacritic }}</p>
        <p>Steam review: {{ game.rating }}</p>
        <a href="{{ game.webpage }}" class="btn btn-primary">View Details</a>
        {% if list.user.username == username %}
        <form method="POST" action="/lists/{{ list.id }}/remove_game">
          <input type="hidden" name="game_id" value="{{ game.game_id }}" />
          <button type="submit" class="btn btn-danger mt-2">
            Remove from List
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

